<header>
    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">ETAP-OKUL</a>
             <ul class="navbar-nav mr-auto">
                 <li 
                    {% if request.path == '/' %}
                    class="nav-item active"
                    {% else %}
                    class="nav-item "
                    {% endif %}

                 >
                     <a href="admin" class="nav-link">Yönetim</a>
                 </li>
                 
             </ul>
             <ul class="navbar-nav">

                {% if user.is_authenticated %}
                <li 
                {% if 'hemencal' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item "
                {% endif %}

             >
                 <a href="{% url 'hemencal' %}" class="nav-link">Hemen Çal</a>
             </li>
             <li 
                {% if 'saatler' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item "
                {% endif %}

            >
              <a href="{% url 'saatler' %}" class="nav-link">Saatler</a>
            </li>
                <li 
                {% if 'melodiler' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item "
                {% endif %}

             >
            <a href="{% url 'melodiler' %}" class="nav-link">Melodiler</a>
             </li>
             <li 
                {% if 'duyurular' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item "
                {% endif %}

            >
              <a href="{% url 'duyuru' %}" class="nav-link">Duyuru</a>
          </li>    
                    <li class="nav-item">
                         <a  href="javascript:{document.getElementById('logout').submit()}" class="nav-link">{{ user.username }} -- Çıkış Yap</a>
                         <form action="{% url 'logout' %}" method="POST" id="logout">
                             {%csrf_token%}
                              <input type="hidden">  
                         </form>
                    </li>  
                {% else %}
                    <li 
                    {% if 'login' in request.path %} 
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                     >
                    <a  href="{% url 'login' %}" class="nav-link">Giriş Yap</a>
                </li>  
                <li 
                    {% if 'register' in request.path %} 
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                <a  href="{% url 'register' %}" class="nav-link">Kayıt Ol</a>

                {% endif %}                  
                 
            </ul>
        </div>
    </div>
</header>