{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="card">
  <h4 align="center" class="card-header"> Girilen metin, ses dosyasına dönüştürülerek sesli olarak duyuru yapılır.</h4>
  <div class="card-body">
    
              <div class="card-body">
    <form action = "" method = "POST">
      {% csrf_token %}
      <label for="baslik"> Duyuru Konusu: {{ DuyuruMesaj.title }} </label> <br>
      <textarea id="mesaj" class="form-control" id="mesaj" name="mesaj" rows="10">{{ DuyuruMesaj.description }}</textarea>
      <br>
      <center>
        <button type="submit" class="tn btn-primary btn-lg">Duyuru Yap</button><br><br>
      <label for="vehicle1"> Ses Düzeyi </label><br>
           <input type="range" id="sesseviyesi" name="sesseviyesi" value="100" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
           <output>100</output>
      </center>  
    </form>
    </div>
    </div>  
  </div>
</div>


{% endblock %}



