{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="kutu">

  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          Hemen Çal
        </div>
        <div class="box-contents">
          <div id="audit-trail">
             <button input type="button" class="button" onclick="window.location.href ='ogrencizilical'">Öğrenci Zili</button>
             <button input type="button" class="button" onclick="window.location.href ='ogretmenzilical'">Öğretmen Zili</button> 
             <button input type="button" class="button" onclick="window.location.href ='cikiszili'">Çıkış Zili</button>  
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          İstiklal Marşı
        </div>
        <div class="box-contents">
          <div id="audit-trail">
            <select class="textbox1" name="hemen" size="1">
            <option value="1">İstiklal Marşı</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ses Düzeyi :  <input class="sesd" size="1" type="number" required>
            <button input type="button" class="buttontm" onclick="window.location.href ='istiklalmarsi'">Tamam</button>  
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          Saygı Duruşu Ve İstiklal Marşı
        </div>
        <div class="box-contents">
          <div id="audit-trail">
            <select class="textbox1" name="hemen" size="1">
              <option value="1">1 Dakika Saygı Duruşu</option>
              <option value="2">2 Dakika Saygı Duruşu</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ses Düzeyi :  <input class="sesd" size="1" type="number" required>
            <button input type="button" class="buttontm" onclick="window.location.href ='saygidurusu1'">Tamam</button>  
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          Siren
        </div>
        <div class="box-contents">
          <div id="audit-trail">
            <select class="textbox1" name="hemen" size="1">
            <option value="1">30 Saniye Siren</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ses Düzeyi :  <input class="sesd" size="1" type="number" required>
            <button input type="button" class="buttontm" onclick="window.location.href ='siren'">Tamam</button>  
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br><br><br><br><br>
  <div class="kutu2">
  <p>Durum</p>
  <div class="progress">
    <div class="progress-bar" style="width:50%"></div>
 </div><br>
 <p>Ses Düzeyi</p>
 <input type="range" value="24" min="1" max="100" style="width: 330px" oninput="this.nextElementSibling.value = this.value">
 <output>24</output>
 <button input type="button" class="button">Tamam</button>  
  </div>



 
</div>

{% endblock %}


