{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="kutu">

  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          Hemen Çal
        </div>
        <div class="box-contents">
          <div id="audit-trail">
             <button input type="button" class="button" onclick="window.location.href ='ogrencizilical'">Öğrenci Zili</button>
             <button input type="button" class="button" onclick="window.location.href ='ogretmenzilical'">Öğretmen Zili</button> 
             <button input type="button" class="button" onclick="window.location.href ='cikiszili'">Çıkış Zili</button>  
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          İstiklal Marşı
        </div>
        <div class="box-contents">
          <div id="audit-trail">
            <select class="textbox1" name="hemen" size="1">
            <option value="1">İstiklal Marşı</option>
            </select> 
            <button input type="button" class="btn btn-primary" onclick="window.location.href ='istiklalmarsi'">Çal</button>
            <b style=padding-left:30px;>Ses Dosyası: </b><input type="file" id="customFile" />
              
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          Saygı Duruşu Ve İstiklal Marşı
        </div>
        <div class="box-contents">
          <div id="audit-trail">
            <select class="textbox1" name="hemen" size="1">
              <option value="1">1 Dakika Saygı Duruşu</option>
              <option value="2">2 Dakika Saygı Duruşu</option>
            </select>
            
            <button input type="button" class="btn btn-success" onclick="window.location.href ='saygidurusu1'">Çal</button>  
            <b style=padding-left:30px;>Ses Dosyası: </b><input type="file" id="customFile" />
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <aside id="info-block">
    <section class="file-marker">
      <div>
        <div class="box-title">
          Siren
        </div>
        <div class="box-contents">
          <div id="audit-trail">
            <select class="textbox1" name="hemen" size="1">
            <option value="1">30 Saniye Siren</option>
            </select>
            
            <button input type="button" class="btn btn-warning" onclick="window.location.href ='siren'">Çal</button>  
            <b style=padding-left:30px;>Ses Dosyası: </b><input type="file" id="customFile" />
          </div>
        </div>
      </div>
    </section>
  </aside>
  <br>
  <div class="kutu2">
  <p>Durum</p>
  <div class="progress">
    <div class="progress-bar" style="width:50%"></div>
 </div><br>
 <p>Ses Düzeyi</p>
 <input type="range" value="24" min="1" max="100" style="width: 330px" oninput="this.nextElementSibling.value = this.value">
 <output>24</output>
 <button input type="button" class="button" onclick="window.location.href ='durdur'">Durdur</button>  
</div>
</div>

{% endblock %}


