{% extends 'layout.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  
  <div class="card">
    <h1 align="center" class="card-header">Pardus ETAP İçin Okul Zili Ve Duyuru Sistemi</h1>
    <div class="card-body">
      <img src="static/img/okullogo.png" width="300" alt="Okul Logo" align="left"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="static/img/tubitak.png" width="300" alt="Okul Logo" align="center"/>
      <img src="static/img/tcmeb.png" width="300" alt="Okul Logo" align="right"/>
    </div>
  </div>
  <br>
  <div class="card-columns">
    <div class="card bg-warning">
      <div class="card-body text-center">
        
        <h2 class="card-text"> Şehit İdari Ataşe Galip Özmen Mesleki ve Teknik Anadolu Lisesi</h2>
      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-body text-center">
        <h3 class="card-text">&nbsp; </h3>
        <h3 class="card-text"> Danışman Öğretmen:</h3>
        <h3 class="card-text">Nuri TIRAŞ</h3>
        <h3 class="card-text"> &nbsp;</h3>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <h3 class="card-text"> Görevli Öğrenciler:</h3>
        <h3 class="card-text">Adem KARPUZ</h3>
        <h3 class="card-text">Metehan GÖKYOKUŞ</h3>
        <h3 class="card-text">Ali NAil ACAR</h3>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="static/img/pardus.gif" alt="Card image cap" width="300" alt="Okul Logo" align="center"/>
    <div class="card-body">
      <h5 class="card-title">Özgürlük için</h5>
      <p class="card-text">Pardus, Açık Kaynak Debian GNU/Linux altyapısı kullanılarak geliştirilmektedir. Stabilite ve verimlilik odaklı Kurumsal kullanım karakteristiğini, hız ve güncellik odaklı son kullanıcı ihtiyaçları ile bağdaştırmaktadır.</p>
      <a href="https://www.pardus.org.tr/" class="btn btn-primary">Pardus</a>
    </div>
  </div>

</body>
{% endblock %}
