{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class=kutu>
    <aside id=info-block>
       <section class=file-markermelo>
         <div>
           <div class=box-title>
             Öğrenci Zili
           </div>
           <div class=box-contents>
            <select class=textbox1 name=hemen size=1>
                <br>
                <option value=1>Melodi1.mp3</option>
                <option value=2>Melodi2.mp3</option>
                <select>
            <b style=padding-left:50px>Ses Düzeyi</b><input class=sesd size=1 type=number maxlength=2 value=50 required><button input type=button class=buttonx>Tamam</button>  
            <br><input type=checkbox id=vehicle1 name=vehicle1 value=Bike>
            <label for=vehicle1>Anons Kullan</label><br>
            <input type=checkbox id=vehicle2 name=vehicle2 value=Car>
            <label for=vehicle2> 1.Ders Hariç Diğerlerinde Anons Kullan<br></label>
            </div>
        </div>
         </section>
       </aside>
     <br>
     <aside id=info-block>
        <section class=file-markermelo>
          <div>
            <div class=box-title>
              Öğretmen Zili
            </div>
            <div class=box-contents>
             <select class=textbox1 name=hemen size=1>
                 <option value=1>Melodi1.mp3</option>
                 <option value=2>Melodi2.mp3</option>
             </select>
             <b style=padding-left:50px;>Ses Düzeyi</b><input class=sesd size=1 type=number maxlength=2 value=50 required><button input type=button class=button style="padding: 5px 30px;position: absolute;top: 175px;right: 1px;">Tamam</button> 
             <br><input type=checkbox id=vehicle1 name=vehicle1 value=Bike>
             <label for=vehicle1>Anons Kullan</label><br>
             <input type=checkbox id=vehicle2 name=vehicle2 value=Car>
             <label for=vehicle2>1.Ders Hariç Diğerlerinde Anons Kullan</label><br>
            </div>
         </div>
         </section>
       </aside>      <br>
      <aside id=info-block>
        <section class=file-marker>
          <div>
            <div class=box-title>
              Çıkış Zili
            </div>
            <div class=box-contents><br>
             <select class=textbox1 name=hemen size=1>
                <option value=1>Melodi1.mp3</option>
                <option value=2>Melodi2.mp3</option>
             </select>
             <b style=padding-left:50px;>Ses Düzeyi</b><input class=sesd size=1 type=number maxlength=2 value=50 required><button input type=button class=button style="padding: 5px 30px;position: absolute;top: 320px;right: 1px;">Tamam</button>

            </div>
          </div>
        </section>
      </aside>
      <br><br><br><br><br><br><br><br><br>
      <div class=kutu2>
        <p>Durum</p>
        <div class="progress">
          <div class="progress-bar" style="width:50%"></div>
       </div><br>
       <p>Ses Düzeyi</p>
       <input type="range" value="24" min="1" max="100" style="width: 330px" oninput="this.nextElementSibling.value = this.value">
       <output>24</output>
       <button input type="button" class="button">Tamam</button>  
        </div>
</div>
{% endblock %}