{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="kutu">
  
    <aside id="info-block">
        <section class="file-markersaat">
          <div>
            <div class="box-title">
              Hemen Zil Çal
            </div>
            <form action="{% url 'saatler' %}" method="POST">
              {% csrf_token %}
            <div class="box-contents"><br>
                <b class="yazi">&nbsp&nbsp;&nbsp;Öğrenci Zili</b><b class="yazi">Öğretmen Zili</b> <b class="yazi">Çıkış Zili</b><br>
                {% for kategori in girisCikisSaatleri %}
                &nbsp;&nbsp;&nbsp;{{ kategori.dersSaati }}:<input class="sessa" type="time" name="zaman{{ kategori.ogrenci }}" value="{{ kategori.ogrenci }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman{{ kategori.ogretmen }}" value="{{ kategori.ogretmen }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman{{ kategori.cikis }}" value="{{ kategori.cikis }}"><br>
                {% endfor %}   
            </div>
          </div>
        </section>
      </aside>
      <br>
      <div class="kutu2">        
        <div >
          <label for="vehicle1"> Günler: </label>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked="True">
            <label for="vehicle1"> Pzrt </label>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" checked="True">
            <label for="vehicle2"> Salı&nbsp; </label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Çrşmb&nbsp; </label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Prşmb &nbsp;</label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Cuma &nbsp;</label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Cmrts &nbsp;</label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Pazar</label>
          </div> <br>
          <label for="vehicle1"> Ses Düzeyi </label><br>
       <input type="range" id="sesseviyesi" name="sesseviyesi" min=1 max=100 style="width: 330px" oninput="this.nextElementSibling.value = this.value">
       <output>50</output>
       <button input type="submit" class="button">Kaydet</button>
      </form>   
       </div><br>
      
    </div>
  
</div>

{% endblock %}


