{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="kutu">
  
    <aside id="info-block">
        <section class="file-markersaat">
          <div>
            <div class="box-title">
              Hemen Zil Çal
            </div>
            <form action="{% url 'saatler' %}" method="POST">
              {% csrf_token %}
            <div class="box-contents"><br>
                <b class="yazi">&nbsp&nbsp;&nbsp;Öğrenci Zili</b><b class="yazi">Öğretmen Zili</b> <b class="yazi">Çıkış Zili</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;Tören&nbsp; :<input class="sessa" type="time" name="zaman0745" value="07:45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0756" value="07:56">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0759" value="07:59"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;1.Ders :<input class="sessa" type="time" name="zaman0757" value="07:57">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0800" value="08:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0840" value="08:40"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;2.Ders :<input class="sessa" type="time" name="zaman0847" value="08:47">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0850" value="09:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0930" value="09:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;3.Ders :<input class="sessa" type="time" name="zaman0937" value="10:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman0940" value="10:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1020" value="10:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;4.Ders :<input class="sessa" type="time" name="zaman1027" value="11:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1030" value="11:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1110" value="11:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;5.Ders :<input class="sessa" type="time" name="zaman1117" value="12:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1120" value="12:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1200" value="12:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;6.Ders :<input class="sessa" type="time" name="zaman1257" value="13:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1300" value="13:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1340" value="13:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;7.Ders :<input class="sessa" type="time" name="zaman1347" value="14:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1350" value="14:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1430" value="14:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;8.Ders :<input class="sessa" type="time" name="zaman1437" value="15:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1440" value="15:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1520" value="15:00"><br>
                &nbsp;&nbsp;&nbsp;&nbsp;9.Ders :<input class="sessa" type="time" name="zaman1527" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1530" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1610" value="16:00"><br>
                &nbsp;&nbsp;&nbsp;10.Ders:<input class="sessa" type="time" name="zaman1617" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1620" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1700" value="16:00"><br>
                &nbsp;&nbsp;&nbsp;11.Ders:<input class="sessa" type="time" name="zaman1707" value="17:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1710" value="17:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1750" value="17:00"><br>
                &nbsp;&nbsp;&nbsp;12.Ders:<input class="sessa" type="time" name="zaman1757" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1800" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1840" value="16:00"><br>
                &nbsp;&nbsp;&nbsp;13.Ders:<input class="sessa" type="time" name="zaman1847" value="17:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1850" value="17:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1930" value="17:00"><br>
                &nbsp;&nbsp;&nbsp;14.Ders:<input class="sessa" type="time" name="zaman1937" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman1940" value="16:00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="sessa" type="time" name="zaman2020" value="16:00"><br>
            </div>
          </div>
        </section>
      </aside>
      <br>
      <div class="kutu2">        
        <div >
          <label for="vehicle1"> Günler: </label>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked="True">
            <label for="vehicle1"> Pzrt </label>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" checked="True">
            <label for="vehicle2"> Salı&nbsp; </label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Çrşmb&nbsp; </label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Prşmb &nbsp;</label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Cuma &nbsp;</label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Cmrts &nbsp;</label>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" checked="True">
            <label for="vehicle3"> Pazar</label>
          </div> <br>
          <label for="vehicle1"> Ses Düzeyi </label><br>
       <input type="range" id="sesseviyesi" name="sesseviyesi" min=1 max=100 style="width: 330px" oninput="this.nextElementSibling.value = this.value">
       <output>50</output>
       <button input type="submit" class="button">Kaydet</button>
      </form>   
       </div><br>
      
    </div>
  
</div>

{% endblock %}


