{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="card" align="center">
  <h4 align="center" class="card-header">Otomatik olarak zilin çalması için giriş-çıkış saatlerini düzenleme işlemleri yapılır.</h4>
  <div class="card-body" align="center">
          <form action="{% url 'saatler' %}" method="POST">
            {% csrf_token %}
          <div class="box-contents"><br>
              <b>Ders</b> <b>Öğrenci Zili</b> <b>Öğretmen Zili</b> <b>Çıkış Zili</b> <b>Ses Düzeyi</b><br>
              {% for kategori in girisCikisSaatleri %}
                <label for="ders"> {{ kategori.dersSaati }}:</label><input type="time" id="ogrenci{{ kategori.id }}" name="ogrenci{{ kategori.id }}" value="{{ kategori.ogrenci }}">
                <input type="time" id="ogretmen{{ kategori.id }}" name="ogretmen{{ kategori.id }}" value="{{ kategori.ogretmen }}">
                <input type="time" id="cikis{{ kategori.id }}" name="cikis{{ kategori.id }}" value="{{ kategori.cikis }}">
                <input type="range" id="sesseviyesi{{ kategori.id }}" name="sesseviyesi{{ kategori.id }}" min="0" max="100" value="{{ kategori.sesDuzeyi }}" oninput="this.nextElementSibling.value = this.value">
                <output>{{ kategori.sesDuzeyi }}</output><br>
                {% endfor %}   
          </div>
          <div >
              <input type="checkbox" id="pazartesi" name="pazartesi" value="1" checked="True">
              <label for="gun1"> Pazartesi </label>
              <input type="checkbox" id="sali" name="sali" value="2" checked="True">
              <label for="gun2"> Salı </label>
              <input type="checkbox" id="carsamba" name="carsamba" value="3" checked="True">
              <label for="gun3"> Çarşamba </label>
              <input type="checkbox" id="persembe" name="persembe" value="4" checked="True">
              <label for="gun4"> Perşembe</label>
              <input type="checkbox" id="cuma" name="cuma" value="5" checked="True">
              <label for="gun5"> Cuma</label>
              <input type="checkbox" id="cumartesi" name="cumartesi" value="6" checked="True">
              <label for="gun6"> Cumartesi</label>
              <input type="checkbox" id="pazar" name="pazar" value="7" checked="True">
              <label for="gun7"> Pazar</label>
          </div>
        <button input type="submit" class="btn btn-primary btn-lg"">Kaydet</button>
    </form>   
     </div><br> 
  </div>
</div>
    
{% endblock %}


