{% extends 'layout.html' %}
{% load static %}

{% block content %}

<form action = "" method = "POST">
  {% csrf_token %}
  <label for="baslik"> Duyuru Konusu: {{ DuyuruMesaj.title }} </label> <br>
  <textarea id="mesaj" name="mesaj" rows="10" cols="75">
    {{ DuyuruMesaj.description }}
  </textarea>
  <br><br>
  <input type="submit" value="Duyuru Yap">
  <br><br>
  <label for="vehicle1"> Ses Düzeyi </label><br>
       <input type="range" value="24" min="1" max="100" style="width: 330px" oninput="this.nextElementSibling.value = this.value">
       <output>24</output>
  
</form>

{% endblock %}



